.icon:nth-child(1) {
  color: green !important;
}

.icon:nth-child(2) {
  color: rgb(147, 201, 61);
}

.icon:last-child {
  color: red;
}

.icon:hover {
  cursor: pointer;
}

@font-face {
  font-family: Lato;
  src: url("/public/fonts/Lato-BoldItalic.ttf");
}

@font-face {
  font-family: Lato-Bold;
  src: url("/fonts/Lato-Bold.ttf");
}
