.icon:nth-child(1) {
  color: green !important;
}

.icon:nth-child(2) {
  color: rgb(147, 201, 61);
}

.icon:last-child {
  color: red;
}

.icon:hover {
  cursor: pointer;
}

@font-face {
  font-family: Lato;
  src: url("/public/fonts/Lato-BoldItalic.ttf");
}

@font-face {
  font-family: Lato-Bold;
  src: url("/fonts/Lato-Bold.ttf");
}

.taskDone {
  background-color: #d3ffd3;
  text-decoration: line-through;
  opacity: 0.6;
  box-shadow: 0 0 10px rgba(0, 128, 0, 0.4);
}
